<div class="background-photo">
  <div class="container"  role="main">
    <h1 class="center headline">Welcome to Puddlr!</h1>

    <h4 class="center tagline">A new way to get to work</h4>
    <%# link_to "Sign Up", signup_path, class: "waves-effect waves-light btn" %>
  </div>
</div>
