<div class="background-photo">
  <div class="container white-font"  role="main">
    <h1 class="center headline">Welcome to Puddlr!</h1>

    <h4 class="center tagline">Get to work <span class="typewrite center" style="height: 2em" data-period="2000" data-type='[ "safe.", " with a friend.", "on time.", "reliably.", "while watching your carbon footprint."]'></span><span class="cursor">|</span></h4>
    <br />
    <div class="center">
      <%= link_to "Sign Up", new_user_path, class: "waves-effect waves-light btn scaler" %> &nbsp;&nbsp;
      <%= link_to "Log In", signin_path, class: "waves-effect waves-light btn scaler" %>
    </div>
    <div class="center">
      <p></p>
      <a class="waves-effect waves-light btn scaler" href="/demo"><i class="material-icons right floater">play_circle_outline</i>Demo Login</a>
      </div>
    </div>
  </div>
