<div class="background-photo">
  <div class="container"  role="main">
    <h1 class="center headline">Welcome to Puddlr!</h1>

    <h4 class="center tagline">A way to Organize and Discover carpools<br>
      for your daily commute</h4><br>
    <div class="center">
      <%= link_to "Sign Up", new_user_path, class: "waves-effect waves-light btn" %>
      <%= link_to "Log In", signin_path, class: "waves-effect waves-light btn" %>
    </div>
    <div class="center">
      <p></p>
      <a class="waves-effect waves-light btn" href="/demo"><i class="material-icons right">play_circle_outline</i>Demo Login </a>
      </div>
    </div>
  </div>
