/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */


 // RUN bundle exec rake assets:precompile before pushing to heroku
@import "materialize/components/color";
$primary-color:#4caf50 !default;
$secondary-color: color("green", "base") !default;
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

header, main, footer {
  padding-left: 200px;
}

.button-collapse {
  visibility: hidden;
}

.floater {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.scaler:hover {
  transform: scale(1.1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-right: 0px !important;
  text-transform: none !important;
  color: #4caf50 !important;
}

.brand-logo {
  margin-left: 50px;
  font-family: 'Permanent Marker', cursive;
}

.background-photo {
  margin-top: 0;
  background-image: url(asset_path('empty2.jpg'));
  background-size: cover;
  background-position: center;
  height: 800px;
}

.white-font {
  color: #fff;
}

.headline {
  margin-top: 0;
  padding-top: 30px;
  margin-left: 30px
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .side-nav li a {
   color: #4caf50 !important;
 }

 @media only screen and (max-width : 992px) {
   .button-collapse {
     visibility: visible;
   }

   header, main, footer {
     padding-left: 0;
       }

     .floater {
       -webkit-transform: translateY(0px);
       transform: translateY(0px);
     }
 }

 @-webkit-keyframes blinker {
   from { opacity: 1.0; }
   to { opacity: 0.0; }
 }

 .cursor {
   -webkit-animation-name: blinker;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
   -webkit-animation-duration: .7s;
 }
