<!DOCTYPE html>
<html>
  <head>
    <title>Puddlr</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%# analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--  navbar -->

           <!--  nav here -->
          <%# if session[:user_id] %>
            <%#= link_to "Dashboard", user_path(session[:user_id]) %>
            <%#= link_to "Log Out", signout_path, method: :delete %>
          <%# else %>
            <%#= link_to "Sign Up", new_user_path %>
            <%#= link_to "Sign In", signin_path %>
          <%# end %>

          <%# if current_user && current_user.admin %>
            <%#= link_to "New Attraction", new_attraction_path %>
          <%# end %>
        <!--/.nav-collapse -->


    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

  </body>
</html>
